@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400;1,700@display=swap");

:root{
    --primary-color: rgb(238, 58, 58);
    --secondary-color: rgba(238, 58, 58, 0.301);

    --light-bg : rgb(236, 224, 224);
    --dark-bg : rgb(0, 0, 0);
    --light-text : rgb(0, 0, 0);
    --dark-text : rgb(236, 224, 224);

    --heading-size:2.5rem;
    --sub-heading-size: 2rem;
    --text-size:1.4rem;

    --font-family:"Roboto Condensed", sans-serif;

}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}
body{
    background-color: var(--light-bg);
    color: var(--light-text);
}
  
.dark{
    background-color: var(--dark-bg);
    color: var(--dark-text);
}
/* header start */
p, a{
    font-size: var(--text-size);
    line-height: 1.2;
    color: var(--light-text);
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
header a h2 {
    font-size: var(--sub-heading-size);
    color: var(--light-text);
}
header a h2 span {
    color: var(--light-bg);
}
header ul {
    list-style: none;
}
header ul li {
    display: inline;
}
header ul li i {
    color: var(--light-text);
    font-size: 1.5rem;
    margin: 0.5px;
}
header nav ul li a {
    padding: 10px 15px;
    font-size: var(--text-size);
    transition: .5s linear;
}
header nav ul li a:hover {
    color: var(--light-bg);
}
#menu-toggle{
    display: none;
}
#setting-toggle {
    cursor: pointer;
}


@media screen and (max-width: 768px){
    header nav {
        position: fixed;
        top: -1000px;
        left: 0;
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: var(--primary-color);
        z-index: 100;
        transition: .4s linear;
    }
    header nav ul li{
        display: block;
        text-align: center;
        margin: 17px auto;
    } 
    header nav ul li a {
        padding: 20px 0;
    }
    #menu-toggle{
        display: inline;
    }
    .nav-active{
        top: 80px !important;
    }
}
main {
    margin-top: 80px;
}
.setting-box{
    position: fixed;
    top: -1000px;
    right: 10px;
    min-width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    z-index: 2;
    background-color: var(--primary-color);
    border-radius: 20px;
    transition: .3s ease;
}
.setting-box-active{
    top: 85px !important;
}
.setting-box img {
    width: 150px;
    height: 100px;
    padding: 10px;
}
/* landing start */
#landing{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
#landing img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#landing .hover-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.561);
}
/* scroll top btn */
.scroll-top {
    position: fixed;
    right: 10px;
    bottom: -100px;
    z-index: 100;
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.scroll-top i {
    font-size: 25px;
    color: white;
}